/node_modules
/public/hot
/public/storage
/public/Themes
/storage/*.key
/vendor
.env
.env.backup
.user.ini
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
node_modules
/source
/thumbs
.DS_Store
public/Themes/.DS_Store
public/Themes/apscvir2025/.DS_Store
public/Themes/apscvir2025/assets/.DS_Store
public/Themes/.DS_Store
public/Themes/apscvir2025/.DS_Store
public/Themes/apscvir2025/assets/.DS_Store
